<p-breadcrumb [model]="breadcrumbs" [home]="home"></p-breadcrumb>

<div class="wrapperinside">
    <p-messages></p-messages>
    <form (ngSubmit)="onSubmit()" [formGroup]="groupForm" *ngIf="this.groupForm" style="padding: 2px;">
        <div style="height: 20px;"></div>
        <p-card class="p-my-2">
            <div class=" p-fluid">
                <div class="p-grid">
                    <div class="p-col">
                        <div class="box">
                            <label for="companyId" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Company ID *
                                :</label>
                            <input class="p-mt-2" name="companyId" formControlName="companyId" id="companyId"
                                type="text" pInputText required>
                            <div class="p-field" *ngIf="submitted && f.companyId.errors">
                                <span style="color: red;" *ngIf="f.companyId.errors.required">Company ID is
                                    required</span>
                            </div>
                        </div>
                        <div style="height: 15px;"></div>
                        <div class="box">
                            <label for="companyCode" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Company Code *
                                :</label>
                            <input class="p-mt-2" name="companyCode" formControlName="companyCode" id="companyCode"
                                type="text" pInputText required>
                            <div class="p-field" *ngIf="submitted && f.companyCode.errors">
                                <span style="color: red;" *ngIf="f.companyCode.errors.required">Company Code is
                                    required</span>
                            </div>
                        </div>
                        <div style="height: 15px;"></div>
                        <div class="box">
                            <label for="companyName" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Company Name * :</label>
                            <input class="p-mt-2" name="companyName" formControlName="companyName" id="companyName"
                                type="text" pInputText required>
                            <div class="p-field" *ngIf="submitted && f.companyName.errors">
                                <span style="color: red;" *ngIf="f.companyName.errors.required">Company Name is
                                    required</span>
                            </div>
                        </div>
                        <div style="height: 15px;"></div>
                        <!-- <div class="box">
                            <label for="orgMlt" class="p-col-12 p-mb-2 p-md-2 p-mb-md-10">Group Menus & Acl * :</label>
                            <div style="height: 8px;"></div>
                            <p-autoComplete formControlName="orgMlt" [suggestions]="orgSuggest"
                                (completeMethod)="filterOrg($event)" field="name" [multiple]="true">
                            </p-autoComplete>

                            <div class="p-field" *ngIf="submitted && f.orgMlt.errors">
                                <span style="color: red;" *ngIf="f.orgMlt.errors.required">Group Menus & Acl are
                                    required</span>
                            </div>
                        </div> -->
                    </div>
                    <div class="p-col">
                        <div class="box">
                            <label for="createDate" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Created Date * :</label>
                            <input class="p-mt-2" name="createDate" formControlName="createDate" id="createDate"
                                type="date" pInputText required>
                            <div class="p-field" *ngIf="submitted && f.createDate.errors">
                                <span style="color: red;" *ngIf="f.createDate.errors.required">Created Date is
                                    required</span>
                            </div>
                        </div>
                        <div style="height: 15px;"></div>
                        <div class="box">
                            <label for="hostCode" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Host Code * :</label>
                            <input class="p-mt-2" name="hostCode" formControlName="hostCode" id="hostCode" type="text"
                                pInputText required>
                            <div class="p-field" *ngIf="submitted && f.hostCode.errors">
                                <span style="color: red;" *ngIf="f.hostCode.errors.required">Host Code is
                                    required</span>
                            </div>
                        </div>
                        <div style="height: 15px;"></div>
                        <div class="box">
                            <label for="createWho" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Created Who * :</label>
                            <input class="p-mt-2" name="createWho" formControlName="createWho" id="createWho"
                                type="text" pInputText required>
                            <div class="p-field" *ngIf="submitted && f.createWho.errors">
                                <span style="color: red;" *ngIf="f.createWho.errors.required">Created Who is
                                    required</span>
                            </div>
                        </div>
                        <!-- <p>Keep deactivated will email the user registered to activated</p> -->
                    </div>
                </div>
            </div>
        </p-card>
        <div class="p-field p-col p-mt-5">
            <div class="p-formgrid p-grid" style="text-align: right;">
                <div class="p-field p-col">
                    <button pButton pRipple type="submit" label="Save" class="p-button-success" icon="pi pi-angle-right"
                        iconPos="right"></button>
                </div>
            </div>
        </div>
    </form>
</div>