<p-breadcrumb [home]="home" [model]="breadcrumbs"></p-breadcrumb>
<p-progressSpinner *ngIf="companyreqlist.length == 0" class="p-text-center"></p-progressSpinner>
<p-messages></p-messages>
<div *ngIf="companyreqlist.length > 0" style="padding-left: 10px;padding-right: 10px;">
    <app-tablehelper [records]="companyreqlist" [header]="orgheader" [wsearch]=true [actionbtn]="orgactionbtn"
        [colnames]="orgcolname" [colwidth]="orgcolwidth" [colclasshalign]="orgcolhalign" [addbtnlink]="orgaddbtn"
        (datapreview)="viewData($event)" (dataapprover)="approvalData($event)" [scrollheight]="scrollheight"
        [nopaging]=false>
    </app-tablehelper>
</div>

<p-dialog header="Approval" [(visible)]="viewApprove" [style]="{width: '50vw'}" [baseZIndex]="10000" [draggable]="false"
    [resizable]="false">
    <div class="p-fluid">
        <div class="p-grid">
            <p class="p-col-12" style="font-size: 18px;">This records need approval from you?, please choose wisely</p>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <p-button (click)="viewApprove=false" label="Cancel" styleClass="p-button-text"></p-button>
        <p-button (click)="approvalSubmit(4)" label="Reject" styleClass="p-button-text"></p-button>
        <p-button (click)="approvalSubmit(1)" label="Approve" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>



<p-dialog header="View Company Approval" [(visible)]="viewDisplay" [style]="{width: '50vw'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false">

    <div class="p-fluid">
        <div class="p-grid">
            <p class="p-col-12 p-md-3">Company ID</p>
            <p class="p-col-12 p-md-1">:</p>
            <p class="p-col-12 p-md-8">{{selectedCompanyReq.COMPANY_ID}}</p>
        </div>
        <div class="p-grid">
            <p class="p-col-12 p-md-3">Host Code</p>
            <p class="p-col-12 p-md-1">:</p>
            <p class="p-col-12 p-md-8">{{selectedCompanyReq.HOST_CODE}}</p>
        </div>
        <div class="p-grid">
            <p class="p-col-12 p-md-3">Company Name</p>
            <p class="p-col-12 p-md-1">:</p>
            <p class="p-col-12 p-md-8">{{selectedCompanyReq.COMPANY_NAME}}</p>
        </div>
        <div class="p-grid">
            <p class="p-col-12 p-md-3">Create Who</p>
            <p class="p-col-12 p-md-1">:</p>
            <p class="p-col-12 p-md-8">{{selectedCompanyReq.CREATE_WHO}}</p>
        </div>
        <div class="p-grid">
            <p class="p-col-12 p-md-3">Created Date</p>
            <p class="p-col-12 p-md-1">:</p>
            <p class="p-col-12 p-md-8">{{selectedCompanyReq.CREATE_DATE}}</p>
        </div>
        <div class="p-grid">
            <p class="p-col-12 p-md-3">Company Code</p>
            <p class="p-col-12 p-md-1">:</p>
            <p class="p-col-12 p-md-8">{{selectedCompanyReq.COMPANY_CODE}}</p>
        </div>
    </div>
</p-dialog>



<!-- (datadeleted)="deleteConfirmation($event)" -->