<p-breadcrumb [model]="breadcrumbs" [home]="home"></p-breadcrumb>

<div class="wrapperinside">
    <p-messages></p-messages>
    <form (ngSubmit)="onSubmit()" [formGroup]="groupForm" *ngIf="this.groupForm" style="padding: 2px;">
        <div style="height: 20px;"></div>
        <p-card class="p-my-2">
            <div class=" p-fluid">
                <div class="p-grid">
                    <div class="p-col">
                        <div class="box">
                            <label for="channelId" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Channel ID *
                                :</label>
                            <input class="p-mt-2" name="channelId" formControlName="channelId" id="channelId"
                                type="text" pInputText required>
                            <div class="p-field" *ngIf="submitted && f.channelId.errors">
                                <span style="color: red;" *ngIf="f.channelId.errors.required">Channel ID is
                                    required</span>
                            </div>
                        </div>
                        <div style="height: 15px;"></div>
                        <div class="box">
                            <label for="channelName" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Channel Name *
                                :</label>
                            <input class="p-mt-2" name="channelName" formControlName="channelName" id="channelName"
                                type="text" pInputText required>
                            <div class="p-field" *ngIf="submitted && f.channelName.errors">
                                <span style="color: red;" *ngIf="f.channelName.errors.required">Channel Name is
                                    required</span>
                            </div>
                        </div>
                        <div style="height: 15px;"></div>
                        <div class="box">
                            <label for="channelCode" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Channel Code * :</label>
                            <input class="p-mt-2" name="channelCode" formControlName="channelCode" id="channelCode"
                                type="text" pInputText required>
                            <div class="p-field" *ngIf="submitted && f.channelCode.errors">
                                <span style="color: red;" *ngIf="f.channelCode.errors.required">Channel Code is
                                    required</span>
                            </div>
                        </div>
                        <div style="height: 15px;"></div>
                        <div class="box">
                            <label for="merchantType" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Merchant Type * :</label>
                            <input class="p-mt-2" name="merchantType" formControlName="merchantType" id="merchantType"
                                type="text" pInputText required>
                            <div class="p-field" *ngIf="submitted && f.merchantType.errors">
                                <span style="color: red;" *ngIf="f.merchantType.errors.required">Merchant Type is
                                    required</span>
                            </div>
                        </div>
                        <div style="height: 15px;"></div>
                        <!-- <div class="box">
                            <label for="orgMlt" class="p-col-12 p-mb-2 p-md-2 p-mb-md-10">Group Menus & Acl * :</label>
                            <div style="height: 8px;"></div>
                            <p-autoComplete formControlName="orgMlt" [suggestions]="orgSuggest"
                                (completeMethod)="filterOrg($event)" field="name" [multiple]="true">
                            </p-autoComplete>

                            <div class="p-field" *ngIf="submitted && f.orgMlt.errors">
                                <span style="color: red;" *ngIf="f.orgMlt.errors.required">Group Menus & Acl are
                                    required</span>
                            </div>
                        </div> -->

                    </div>
                    <div class="p-col">
                        <div class="box">
                            <label for="createWho" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Create Who * :</label>
                            <input class="p-mt-2" name="createWho" formControlName="createWho" id="createWho"
                                type="text" pInputText required>
                            <div class="p-field" *ngIf="submitted && f.createWho.errors">
                                <span style="color: red;" *ngIf="f.createWho.errors.required">Create Who is
                                    required</span>
                            </div>
                        </div>
                        <div style="height: 15px;"></div>
                        <div class="box">
                            <label for="createDate" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Create Date * :</label>
                            <input class="p-mt-2" name="createDate" formControlName="createDate" id="createDate"
                                type="date" pInputText required>
                            <div class="p-field" *ngIf="submitted && f.createDate.errors">
                                <span style="color: red;" *ngIf="f.createDate.errors.required">Create Date is
                                    required</span>
                            </div>
                        </div>
                        <div style="height: 15px;"></div>
                        <div class="box">
                            <label for="changeWho" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Change Who * :</label>
                            <input class="p-mt-2" name="changeWho" formControlName="changeWho" id="changeWho"
                                type="text" pInputText required>
                            <div class="p-field" *ngIf="submitted && f.changeWho.errors">
                                <span style="color: red;" *ngIf="f.changeWho.errors.required">Change Who is
                                    required</span>
                            </div>
                        </div>
                        <div style="height: 15px;"></div>
                        <div class="box">
                            <label for="changeDate" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Change Date * :</label>
                            <input class="p-mt-2" name="changeDate" formControlName="changeDate" id="changeDate"
                                type="date" pInputText required>
                            <div class="p-field" *ngIf="submitted && f.changeDate.errors">
                                <span style="color: red;" *ngIf="f.changeDate.errors.required">Change Date is
                                    required</span>
                            </div>
                        </div>
                        <!-- <p>Keep deactivated will email the user registered to activated</p> -->
                    </div>
                </div>
            </div>
        </p-card>
        <div class="p-field p-col p-mt-5">
            <div class="p-formgrid p-grid" style="text-align: right;">
                <div class="p-field p-col">
                    <button pButton pRipple type="submit" label="Save" class="p-button-success" icon="pi pi-angle-right"
                        iconPos="right"></button>
                </div>
            </div>
        </div>
    </form>
</div>