<p-breadcrumb [home]="home" [model]="breadcrumbs"></p-breadcrumb>
<p-progressSpinner *ngIf="userlist.length == 0" class="p-text-center"></p-progressSpinner>
<p-messages></p-messages>
<div *ngIf="userlist.length > 0" style="padding-left: 10px;padding-right: 10px;">
    <app-tablehelper [records]="userlist" [header]="usrheader" [wsearch]=true [actionbtn]="usractionbtn"
        [colnames]="usrcolname" [colwidth]="usrcolwidth" [colclasshalign]="usrcolhalign" [addbtnlink]="usraddbtn"
        [colmark]=2 (datadeleted)="deleteConfirmation($event)" (datapreview)="viewData($event)"
        (dataapprover)="approvalData($event)" [scrollheight]="scrollheight" [nopaging]=false></app-tablehelper>
</div>

<p-dialog header="Delete User" [(visible)]="display" [style]="{width: '20vw'}" [baseZIndex]="10000" [draggable]="false"
    [resizable]="false">
    <p style="font-size: 18;">Are you sure want to delete this Users?</p>
    <ng-template pTemplate="footer">
        <p-button (click)="display=false" label="No" styleClass="p-button-text"></p-button>
        <p-button (click)="deleteUser()" label="Yes" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>


<p-dialog header="View User" [(visible)]="viewDisplay" [style]="{width: '50vw'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false">
    <div class="p-fluid">
        <div class="p-grid">
            <p class="p-col-12 p-md-3">Fullname</p>
            <p class="p-col-12 p-md-1">:</p>
            <p class="p-col-12 p-md-8">{{selectedUser.fullname}}</p>
        </div>
        <div class="p-grid">
            <p class="p-col-12 p-md-3">Email</p>
            <p class="p-col-12 p-md-1">:</p>
            <p class="p-col-12 p-md-8">{{selectedUser.bioemailactive}}</p>
        </div>
        <div class="p-grid">
            <p class="p-col-12 p-md-3">Created date</p>
            <p class="p-col-12 p-md-1">:</p>
            <p class="p-col-12 p-md-8">{{selectedUser.created_at}}</p>
        </div>
        <div class="p-grid">
            <p class="p-col-12 p-md-3">Group</p>
            <p class="p-col-12 p-md-1">:</p>
            <p class="p-col-12 p-md-8">{{selectedUser.groupname}}</p>
        </div>
        <div class="p-grid">
            <p class="p-col-12 p-md-3">Login Attempt</p>
            <p class="p-col-12 p-md-1">:</p>
            <p class="p-col-12 p-md-8">{{selectedUser.total_attempt}}</p>
        </div>
    </div>
</p-dialog>



<p-dialog header="Approval" [(visible)]="viewApprove" [style]="{width: '50vw'}" [baseZIndex]="10000" [draggable]="false"
    [resizable]="false">
    <div class="p-fluid">
        <div class="p-grid">
            <p class="p-col-12" style="font-size: 18px;">This records need approval from you?, please choose wisely</p>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <p-button (click)="viewApprove=false" label="Cancel" styleClass="p-button-text"></p-button>
        <p-button (click)="approvalSubmit(4)" label="Reject" styleClass="p-button-text"></p-button>
        <p-button (click)="approvalSubmit(1)" label="Approve" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>





<!-- (datadeleted)="deleteConfirmation($event)" -->