<p-breadcrumb [home]="home" [model]="breadcrumbs"></p-breadcrumb>

<p-progressSpinner *ngIf="rulesreqlist.length == 0" class="p-text-center"></p-progressSpinner>
<p-messages></p-messages>
<div *ngIf="rulesreqlist.length > 0" style="padding-left: 10px;padding-right: 10px;">
    <app-tablehelper [records] = "rulesreqlist" [header]="orgheader" [wsearch]= true [actionbtn] = "orgactionbtn" [colnames]="orgcolname" [colwidth]="orgcolwidth" [collinkaction]="orgcollinghref" [colclasshalign]="orgcolhalign" [addbtnlink]="orgaddbtn" (datadeleted)="deleteConfirmation($event)" ></app-tablehelper>
 </div>
 <p-dialog header="Delete Organization" [(visible)]="display" [style]="{width: '20vw'}" [baseZIndex]="10000"
 [draggable]="false" [resizable]="false">
 <p style="font-size: 18;">Are you sure want to delete this Organization?</p>
 <ng-template pTemplate="footer">
     <p-button (click)="display=false" label="No" styleClass="p-button-text"></p-button>
     <p-button (click)="deleteOrganization()" label="Yes" styleClass="p-button-text"></p-button>
 </ng-template>
</p-dialog>
