<div class="p-text-center">
    <div style="height: 200px;"></div>
    <h1>BPM Portal</h1>
    <img alt="commonwealth" src="assets/logos/commonwealthbank.png" [style]="{width: '400px!important'}">

</div>