<p-breadcrumb [home]="home" [model]="breadcrumbs"></p-breadcrumb>
<!-- ["name", "accnum", "prxaddress", "branch", "channel", "prxtype", "secid", "custresidence", "stsprxadd"] -->
<!-- <p-progressSpinner *ngIf="proxyData.length == 0" class="p-text-center"></p-progressSpinner>
<p-messages></p-messages> -->
<div class="wrapperinside">
    <div style="height: 20px"></div>
    <p-card class="p-my-2">
        <div class="p-fluid">
            <div class="p-grid">
                <div class="p-col">
                    <!--  -->
                    <div class="p-grid">
                        <div class="p-col">
                            <div class="box">
                                <label for="rangesDates" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Start Date :</label>
                                <div style="height: 8px"></div>
                                <p-calendar [(ngModel)]="startDate" [showIcon]="true" dateFormat="dd-mm-yy"
                                    inputId="startDate" (click)="maxDate()">
                                </p-calendar>
                            </div>
                        </div>
                        <div class="p-col">
                            <div class="box">
                                <label for="rangesDates" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">End Date :</label>
                                <div style="height: 8px"></div>
                                <p-calendar dateFormat="dd-mm-yy" [showIcon]="true" [(ngModel)]="endDate"
                                    inputId="endDate" (click)="maxDate()"> </p-calendar>
                                <span style="color: red;" *ngIf="isLoggedIn">Max End Date : {{birthday}}</span>
                            </div>
                        </div>
                    </div>
                    <div style="height: 8px"></div>
                    <div class="box">
                        <label for="channels" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Channel :</label>
                        <div style="height: 8px"></div>
                        <p-dropdown id="channels" [options]="channels" optionLabel="channeltype"
                            [(ngModel)]="channelSelected" placeholder="Select Channel"></p-dropdown>
                    </div>
                    <div style="height: 8px"></div>
                    <div class="box">
                        <label for="logUbpTrxId" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Transaction ID :</label>
                        <div style="height: 8px"></div>
                        <!-- <p-dropdown id="channels" [options]="channels" optionLabel="channeltype"
                            [(ngModel)]="channelSelected" placeholder="Select Channel"></p-dropdown> -->
                        <input type="text" class="p-inputtext-sm" placeholder="Transaction ID" [(ngModel)]="logUbpTrxId"
                            pInputText />
                    </div>
                </div>
                <div class="p-col">
                    <div class="box">
                        <label for="branch" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Status :</label>
                        <div style="height: 8px"></div>
                        <p-dropdown id="branch" [options]="isactives" [(ngModel)]="isactivesSelected"
                            optionLabel="label" placeholder="Select Status"></p-dropdown>
                        <span style="color: transparent;" *ngIf="isLoggedIn"> Max End Date : {{birthday}}</span>

                    </div>
                    <div style="height: 15px"></div>
                    <div class="box">
                        <label for="proxyaddrestype" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Transaction Type
                            :</label>
                        <div style="height: 8px"></div>
                        <p-dropdown id="proxyaddrestype" [(ngModel)]="transactiontypeSelected"
                            [options]="transactiontype" optionLabel="label" placeholder="Select Transaction Type">
                        </p-dropdown>
                    </div>
                    <div style="height: 30px"></div>
                    <div class="p-grid">
                        <div class="p-col">
                            <div class="box">
                                <button pButton pRipple type="button" icon="pi pi-search" [routerLink]="home"
                                    label="Search" (click)="refreshData()" class="p-button-info"></button>
                            </div>
                        </div>
                        <div class="p-col">
                            <div class="box">
                                <button pButton pRipple type="button" icon="pi pi-refresh" (click)="removeFilter()"
                                    label="Clear Filter" class="p-button-warning"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </p-card>
    <div style="height: 20px"></div>
    <div class="card">

        <p-progressSpinner *ngIf="logData.length == 0" class="p-text-center"></p-progressSpinner>
        <p-table #dt id="excel-table" *ngIf="logData.length > 0" [value]="logData" [scrollable]="true"
            scrollHeight="300px" scrollDirection="both" [globalFilterFields]="['LOG_UBP_TRX_ID']" dataKey="id"
            [rows]="5" [showCurrentPageReport]="true" [rowsPerPageOptions]="[5, 10,25,50]"
            styleClass="p-datatable-customs p-datatable-gridlines" [paginator]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
            <ng-template pTemplate="caption">
                <div class="p-d-flex">
                    <span class="p-input-icon-right p-ml-auto">
                        <button *ngIf="isdataexist" pButton pRipple type="button" icon="pi pi-file-excel"
                            (click)="openPDF()" label="Export PDF" class="p-button-danger"></button>
                        &nbsp;
                        <button *ngIf="isdataexist" pButton pRipple type="button" icon="pi pi-file-pdf"
                            (click)="exportexcel()" label="Export CSV" class="p-button-success"
                            style="margin-right: 10px;"></button>
                    </span>
                    <span class="p-input-icon-right">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                            placeholder="Search Keyword" />
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th class="p-text-center" pSortableColumn="LOG_UBP_TRX_ID" style="width:200px">LOG UBP TRX ID
                        <p-sortIcon field="LOG_UBP_TRX_ID"></p-sortIcon>
                    </th>
                    <th class="p-text-center" pSortableColumn="LOG_BILL_ID" style="width:200px">LOG BILL ID
                        <p-sortIcon field="LOG_BILL_ID"></p-sortIcon>
                    </th>
                    <th class="p-text-center" pSortableColumn="EVENT" style="width:200px">EVENT
                        <p-sortIcon field="EVENT"></p-sortIcon>
                    </th>
                    <th class="p-text-center" pSortableColumn="TRX_TIMESTAMP" style="width:200px">TRX TIMESTAMP
                        <p-sortIcon field="TRX_TIMESTAMP"></p-sortIcon>
                    </th>
                    <th class="p-text-center" pSortableColumn="BILL_KEY1" style="width:200px">BILL KEY1
                        <p-sortIcon field="BILL_KEY1"></p-sortIcon>
                    </th>
                    <th class="p-text-center" pSortableColumn="BILL_KEY2" style="width:200px">BILL KEY2
                        <p-sortIcon field="BILL_KEY2"></p-sortIcon>
                    </th>
                    <th class="p-text-center" pSortableColumn="BILL_KEY3" style="width:200px">BILL KEY3
                        <p-sortIcon field="BILL_KEY3"></p-sortIcon>
                    </th>
                    <th class="p-text-center" pSortableColumn="RESPONSE_CODE" style="width:200px">RESPONSE CODE
                        <p-sortIcon field="RESPONSE_CODE"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-logdata>
                <tr>
                    <td class="p-text-center" style="width: 200px">
                        {{ logdata.LOG_UBP_TRX_ID }}
                    </td>
                    <td class="p-text-center" style="width: 200px">
                        {{ logdata.LOG_BILL_ID }}
                    </td>
                    <td class="p-text-center" style="width: 200px">
                        {{ logdata.EVENT }}
                    </td>
                    <td class="p-text-center" style="width: 200px">
                        {{ logdata.TRX_TIMESTAMP }}
                    </td>
                    <td class="p-text-center" style="width: 200px">
                        {{ logdata.BILL_KEY1 }}
                    </td>
                    <td class="p-text-center" style="width: 200px">
                        {{ logdata.BILL_KEY2 }}
                    </td>
                    <td class="p-text-center" style="width: 200px">
                        {{ logdata.BILL_KEY3 }}
                    </td>
                    <td class="p-text-center" style="width: 200px">
                        {{ logdata.RESPONSE_CODE }}
                    </td>
                </tr>
            </ng-template>
        </p-table>

        <!-- <p-divider type="dashed">
            <span class=" p-tag success">Total Success</span>
        </p-divider> -->

        <!-- <div class="total-trans p-grid p-ai-center p-jc-between">
            <div class="total-trans p-d-grid p-ai-center p-jc-start p-col">
                <div>Total Debit Volume : {{totalRowDebitS}}</div>
                <div>Total Debit Amount : {{totalAmountDS | currency:'Rp'}}</div>
            </div>
            <p-divider layout="vertical"></p-divider>
            <div class="total-trans p-d-grid p-ai-center p-jc-start p-col">
                <div>Total Credit Volume : {{totalRowCreditS}}</div>
                <div>Total Credit Amount : {{totalAmountCS | currency:'Rp'}}</div>
            </div>
        </div> -->

        <!-- <div style="height: 0.5rem;"></div>
        <p-divider type="dashed">
            <span class="p-tag error" style="background: #ff7f5c;">Total Failed</span>
        </p-divider> -->
        <!-- <div class="total-trans p-d-flex p-ai-center p-jc-between">
            <div class="total-trans p-d-grid p-ai-center p-jc-start p-col">
                <div>Total Debit Volume : {{totalRowDebitE}}</div>
                <div>Total Debit Amount : {{totalAmountDE| currency:'Rp'}}</div>
            </div>
            <p-divider layout="vertical"></p-divider>
            <div class="total-trans p-d-grid p-ai-center p-jc-start p-col">
                <div>Total Credit Volume : {{totalRowCreditE}}</div>
                <div>Total Credit Amount : {{totalAmountCE | currency:'Rp'}}</div>
            </div>
        </div> -->
    </div>
</div>
<p-dialog header="Delete Group" [(visible)]="display" [style]="{ width: '20vw' }" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false">
    <p style="font-size: 18">Are you sure want to delete this Organization?</p>
    <ng-template pTemplate="footer">
        <p-button (click)="display = false" label="No" styleClass="p-button-text"></p-button>
        <p-button (click)="deleteGroup()" label="Yes" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>