<!--  -->
<p-breadcrumb [home]="home" [model]="breadcrumbs"></p-breadcrumb>

<p-progressSpinner *ngIf="channellist.length == 0" class="p-text-center"></p-progressSpinner>
<p-messages></p-messages>
<div *ngIf="channellist.length > 0" style="padding-left: 10px;padding-right: 10px;">
    <app-tablehelper [records]="channellist" [header]="orgheader" [wsearch]=true [actionbtn]="orgactionbtn"
        [colnames]="orgcolname" [colwidth]="orgcolwidth" [collinkaction]="orgcollinghref"
        [colclasshalign]="orgcolhalign" [addbtnlink]="orgaddbtn" (datadeleted)="deleteConfirmation($event)"
        (datapreview)="viewData($event)" [colldate]=5>
    </app-tablehelper>
</div>
<p-dialog header="Delete Channel" [(visible)]="display" [style]="{width: '20vw'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false">
    <p style="font-size: 18;">Are you sure want to delete this Channel?</p>
    <ng-template pTemplate="footer">
        <p-button (click)="display=false" label="No" styleClass="p-button-text"></p-button>
        <p-button (click)="deleteChannel()" label="Yes" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>

<p-dialog header="View Channel" [(visible)]="viewDisplay" [style]="{width: '50vw'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false">
    <div class="p-fluid">
        <div class="p-grid">
            <p class="p-col-12 p-md-3">Channel ID</p>
            <p class="p-col-12 p-md-1">:</p>
            <p class="p-col-12 p-md-8">{{selectedChannel.CHANNEL_ID}}</p>
        </div>
        <div class="p-grid">
            <p class="p-col-12 p-md-3">Merchant Type</p>
            <p class="p-col-12 p-md-1">:</p>
            <p class="p-col-12 p-md-8">{{selectedChannel.MERCHANT_TYPE}}</p>
        </div>
        <div class="p-grid">
            <p class="p-col-12 p-md-3">Channel Name</p>
            <p class="p-col-12 p-md-1">:</p>
            <p class="p-col-12 p-md-8">{{selectedChannel.CHANNEL_NAME}}</p>
        </div>
        <div class="p-grid">
            <p class="p-col-12 p-md-3">Create Who</p>
            <p class="p-col-12 p-md-1">:</p>
            <p class="p-col-12 p-md-8">{{selectedChannel.CREATE_WHO}}</p>
        </div>
        <div class="p-grid">
            <p class="p-col-12 p-md-3">Created Date</p>
            <p class="p-col-12 p-md-1">:</p>
            <p class="p-col-12 p-md-8">{{selectedChannel.CREATE_DATE}}</p>
        </div>
        <div class="p-grid">
            <p class="p-col-12 p-md-3">Change Who</p>
            <p class="p-col-12 p-md-1">:</p>
            <p class="p-col-12 p-md-8">{{selectedChannel.CHANGE_WHO}}</p>
        </div>
        <div class="p-grid">
            <p class="p-col-12 p-md-3">Change Date</p>
            <p class="p-col-12 p-md-1">:</p>
            <p class="p-col-12 p-md-8">{{selectedChannel.CHANGE_DATE}}</p>
        </div>
        <div class="p-grid">
            <p class="p-col-12 p-md-3">Channel Code</p>
            <p class="p-col-12 p-md-1">:</p>
            <p class="p-col-12 p-md-8">{{selectedChannel.CHANNEL_CODE}}</p>
        </div>
    </div>
</p-dialog>